
.list-group-item.aTeamTimeline {
    height: 47px;
    display: block;
    font: 18px/20px "Arial";
    color: #fff;
    position: relative;
    overflow: hidden;
    padding: 8px 0;
    border-top: 1px solid #717682;
    background: #4f5459;
    background: url("/resources/images/clockSpriteNarrow_1501945774.png") repeat-x left -500px;
    cursor: pointer;
    zoom: 1;
}

#timeline ul{
  list-style: none;
}
#timeline li{
  display: inline;
  width: 100px;
}

.timeline{
	overflow-x:scroll;
	width: 900px;
    padding: 15px;
	display:block;
}

body table tr.thePlayer.selectedRow{background-color: #00FFFF;}

.tableBody{
	height: 100px;
}

.allPlayers{
   overflow-y:scroll;
   height:550px;
   width: 850px;
   display:block;
}

.theTeam{
    width: 200px;
}