
#timeline ul{
  list-style: none;
}
#timeline li{
  display: inline;
  width: 100px;
}

.timeline{
	overflow-x:scroll;
	width: 900px;
	display:block;
}

body table tr.selectedRow{background-color: #00FFFF;}

.tableBody{
	height: 100px;
}

.allPlayers{
   overflow-y:scroll;
   height:600px;
   width: 850px;
   display:block;
}